.contacts__list {
  @media (max-width: $pre-tablet-width) {
    @include column-flex;
  }
}

.contacts__contact {
  color: $mcg-1;
  font-weight: inherit;

  display: flex;
  align-items: flex-start;
  width: max-content;
}

.contacts__item {
  &--phone {
    margin-top: 19px;
  }
}

.contacts__mail {
  font-size: inherit;
  line-height: inherit;

  &::before {
    content: "";
    display: block;
    width: 26px;
    height: 20px;
    margin-right: 15px;
    margin-top: -2px;
    background-image: $mail;

    @media (max-width: $pre-desktop-width) {
      margin-right: 13px;
    }
  }

  &::after {
    @media (max-width: $pre-desktop-width) {
      content: attr(data-label);
      display: block;
    }
  }
}
