.guide {
  @media (min-width: $desktop-width) {
    margin-top: -4px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-top: 99px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-top: 5px;
  }
}

.guide__tabs-list {
  display: flex;
  align-items: center;
  background-image: $tabs-underline;
  background-repeat: no-repeat;
  background-position: left bottom;

  @media (min-width: $desktop-width) {
    @include width-normalize;
    flex-wrap: wrap;
    background-size: 76.838% 2px;
  }

  @media (max-width: $pre-desktop-width) {
    width: 731px;
    margin-right: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 0 0 10px;
  }

  @media (max-width: $pre-tablet-width) {
    width: 305px;
  }
}

.guide__tab-item {
  @media (max-width: $pre-desktop-width) {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  &:not(:first-child) {
    margin-left: 99px;
  }
}

.guide__tab-btn {
  background-color: transparent;
  color: $dcg-9;
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 500;
  letter-spacing: -0.41px;
  text-transform: none;
  padding: 0 0 15px 0;
  cursor: pointer;

  &--active {
    color: $mcg-1;
  }
}

.guide__description-item {
  display: none;
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    background-size: 430px 596px;
    background-position: right 43.25% top 100%;
  }

  @media (max-width: $pre-desktop-width) {
    background-size: 100%;
    background-position: center bottom;
  }

  &--active {
    display: block;
  }

  &--greece {
    @media (min-width: $desktop-width) {
      background-image: $greece-guide-bg-desktop;

      @media (min-resolution: 2dppx) {
        background-image: $greece-guide-bg-desktop-2x;
      }
    }

    @media (max-width: $pre-desktop-width) {
      background-image: $greece-guide-bg-tablet;

      @media (min-resolution: 2dppx) {
        background-image: $greece-guide-bg-tablet-2x;
      }
    }

    @media (max-width: $pre-tablet-width) {
      background-image: $greece-guide-bg-mobile;

      @media (min-resolution: 2dppx) {
        background-image: $greece-guide-bg-mobile-2x;
      }
    }
  }
}

.guide__description {
  @include width-normalize;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-auto-rows: min-content;
    padding-bottom: 16px;
  }

  @media (max-width: $pre-desktop-width) {
    @include column-flex;
  }
}

.guide__heading {
  @media (min-width: $desktop-width) {
    @include all-columns;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 90px;
    line-height: 90px;
  }

  @media (max-width: $pre-desktop-width) {
    text-align: center;
    margin-top: 33px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-top: 25px;
  }

  &::after {
    @media (min-width: $desktop-width) {
      width: 175px;
      height: 3px;
      margin-top: 14px;
    }
  }
}

.guide__text {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 370px;
    margin-top: 30px;
  }

  @media (max-width: $pre-desktop-width) {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

.guide__buy-the-tour {
  width: max-content;

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 30px 38px 30px 40px;
    margin-top: 50px;
  }

  @media (max-width: $pre-desktop-width) {
    padding: 19px 53px 19px 52px;
    margin-top: 20px;
  }

  @media (max-width: $pre-tablet-width) {
    padding-left: 74px;
    padding-right: 68px;
  }
}

.guide__comments {
  background-color: $lcg-1;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 4;
    align-self: start;
    transform: translateY(-3px);
  }

  @media (max-width: $pre-desktop-width) {
    margin-top: 79px;
    transform: translateY(31px);
  }

  @media (min-width: $tablet-width) {
    width: 382px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: $pre-tablet-width) {
    width: 268px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 33px;
    transform: translateY(67px);
  }
}

.guide__comments-heading {
  margin-top: 30px;

  @media (max-width: $pre-tablet-width) {
    @include column-flex;
  }

  &::after {
    @include underline-for-heading;
    width: 68px;
    height: 1px;
    margin-top: 11px;

    @media (max-width: $pre-tablet-width) {
      align-self: center;
    }
  }
}

.guide__quote-content {
  font-size: 14px;
  margin-top: 21px;

  @media (max-width: $pre-tablet-width) {
    text-align: center;
  }
}

.guide__quote-cite {
  display: flex;
  align-items: center;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (max-width: $pre-tablet-width) {
    @include column-flex;
    margin-top: 17px;
    margin-bottom: 34px;
  }
}

.guide__editor-avatar {
  border-radius: 50%;
  margin-right: 16px;

  @media (max-width: $pre-tablet-width) {
    margin-right: 0;
    margin-bottom: 11px;
  }
}

.guide__quote-editor {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  color: $dcg-6;

  @media (max-width: $pre-tablet-width) {
    margin-left: 4px;
  }
}
