.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $pre-desktop-width) {
    color: $dcg-3;
    width: 100%;
  }

  &--js {
    @media (max-width: $pre-desktop-width) {
      position: relative;
    }
  }
}

.header__logo-link {
  @media (max-width: $pre-desktop-width) {
    margin-left: 21px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-left: 16px;
  }
}

.header__logo-img {
  @media (max-width: $pre-desktop-width) {
    width: 44px;
    height: 17px;
  }
}

.header__box {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 14px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-top: 134px;
  }

  &--opened {
    @media (max-width: $pre-desktop-width) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: $lcg-1;
    }
  }
}

.header__nav {
  margin-right: 53px;

  @media (max-width: $pre-desktop-width) {
    margin-right: 0;
  }
}

.header__phone {
  @media (min-width: $desktop-width) {
    color: inherit;
  }
}

.header__toggle {
  @media (max-width: $pre-desktop-width) {
    z-index: 1;
  }

  &--burger {
    @media (max-width: $pre-desktop-width) {
      padding: 10px 21px 10px;
    }

    @media (max-width: $pre-tablet-width) {
      padding: 10px 10px 10px;
    }
  }

  &--nav-cross {
    @media (max-width: $pre-desktop-width) {
      padding: 14px 13px 8px;
      background-color: transparent;
    }
  }
}
