.header__container {
  // outline: 1px dashed red;  // delete!!!
  // outline-offset: -1px;  // delete!!!

  @media (min-width: $desktop-width) {
    align-items: center;
  }

  @media (max-width: $pre-desktop-width) {
    color: $dcg-3;
    width: 100%;
  }

  &--js {
    @media (max-width: $pre-desktop-width) {
      position: relative;
    }
  }
}

.header__logo-link {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @media (max-width: $pre-desktop-width) {
    justify-self: start;
    margin-left: 21px;
    margin-top: 18.5px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-left: 16px;
  }
}

.header__logo-img {
  @media (max-width: $pre-desktop-width) {
    width: 44px;
    height: 17px;
  }
}

.header__box {
  @media (min-width: $desktop-width) {
    grid-column-start: 7;
    grid-column-end: 13;

    display: flex;
    justify-content: end;
    align-items: center;
  }

  @media (max-width: $pre-desktop-width) {
    padding-top: 134px;
  }

  &--opened {
    @media (max-width: $pre-desktop-width) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: $lcg-1;
    }
  }
}

.header__nav {
  margin-left: auto;
  margin-right: 53px;

  @media (max-width: $pre-desktop-width) {
    margin-right: 0;
  }
}

.header__phone {
  @media (min-width: $desktop-width) {
    padding-right: 13px;
    color: inherit;
  }
}

.header__toggle {
  @media (max-width: $pre-desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: end;
    z-index: 1;
  }

  &--burger {
    @media (max-width: $pre-desktop-width) {
      padding: 10px 21px 7px;
      background-color: $mcg-1;
    }
  }

  &--nav-cross {
    @media (max-width: $pre-desktop-width) {
      padding: 14px 13px 8px;
      background-color: transparent;
    }
  }
}

.header__one-track {
  @media (max-width: $pre-desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}
