.main {
  color: $dcg-7;

  // @media (min-width: $desktop-width) {
  //   background-image: $guide-map-bg;
  //   background-repeat: no-repeat;
  //   background-size: 1444px 1089px;
  //   background-position: left 50% top 100%;
  // }

  // @media (max-width: $pre-desktop-width) {
  //   background-image: $tabs-underline, $greece-guide-bg-tablet;
  //   background-repeat: no-repeat, no-repeat;
  //   background-size: 899px 2px, 768px 415px;
  //   background-position: left -29% top 71.6%, 50% 98.7%;

  //   @media (min-resolution: 2dppx) {
  //     background-image: $tabs-underline, $greece-guide-bg-tablet-2x;
  //   }
  // }

  // @media (max-width: $pre-tablet-width) {
  //   background-image: $tabs-underline, $greece-guide-bg-mobile;
  //   background-size: 899px 2px, 319px 415px;
  //   background-position: left -2.7% top 73.93%, 50% 98.2%;

  //   @media (min-resolution: 2dppx) {
  //     background-image: $tabs-underline, $greece-guide-bg-mobile-2x;
  //   }
  // }
}

.main__aux-header {
  color: $lcg-1;
  background-color: $dcg-5;
  background-image: $aux-header-bg-desktop;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @media (min-resolution: 2dppx) {
    background-image: $aux-header-bg-desktop-2x;
  }

  @media (min-width: $desktop-width) {
    padding-top: 185px;
    padding-bottom: 297px;
  }

  @media (max-width: $pre-desktop-width) {
    background-image: $aux-header-bg-tablet;
    padding-top: 60px;
    padding-bottom: 83px;

    @media (min-resolution: 2dppx) {
      background-image: $aux-header-bg-tablet-2x;
    }
  }

  @media (max-width: $pre-tablet-width) {
    background-image: $aux-header-bg-mobile, $gradient-1;
    background-size: 100%, 100%;
    padding-top: 81px;
    padding-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: $aux-header-bg-mobile-2x, $gradient-1;
    }
  }
}

.main__container {
  @media (min-width: $desktop-width) {
    @include width-normalize;
    padding-left: 36.5%;
  }

  @media (max-width: $pre-desktop-width) {
    @include column-flex;
  }
}

.main__heading {
  font-weight: 600;
  color: $dcg-6;

  @media (min-width: $desktop-width) {
    font-size: 55px;
    line-height: 80px;
  }

  @media (max-width: $pre-desktop-width) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (max-width: $pre-tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }

  &--first-level {
    width: 412px;
    color: inherit;

    @media (min-width: $desktop-width) {
      letter-spacing: -1.10667px;
    }

    @media (max-width: $pre-tablet-width) {
      @include shift-to-right($shift-4);
    }
  }

  &--fourth-level {
    font-weight: 500;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 37px;
    }

    @media (max-width: $pre-tablet-width) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &--underlined {
    &::after {
      @media (min-width: $desktop-width) {
        @include underline-for-heading;
      }
    }
  }
}

.main__leading-paragraph {
  line-height: 27px;
  margin-top: 30px;
  width: 376px;

  @media (max-width: $pre-desktop-width) {
    margin-top: 15px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-top: 102px;
    color: $dcg-6;
  }
}

.main__view-tours {
  box-sizing: border-box;
  width: 340px;
  padding: 30px 39px 29px 40px;
  margin-top: 32px;
  justify-content: space-between;

  @media (max-width: $pre-desktop-width) {
    width: 250px;
    margin-top: 10px;
    padding: 18px 39px 16px 40px;
  }

  @media (max-width: $pre-tablet-width) {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: $arrow-down;
  }
}

.main__unit {
  @media (max-width: $pre-desktop-width) {
    width: 398px;
    text-align: center;
  }

  @media (max-width: $pre-tablet-width) {
    width: 288px;
  }
}
