.main {
  color: $dcg-7;
}

.main__aux-header {
  color: $lcg-1;
  background-color: $dcg-5;
  background-image: $aux-header-bg-desktop;
  background-repeat: no-repeat;
  background-size: 1920px 860px;
  background-position: center top;

  @media (min-resolution: 2dppx) {
    background-image: $aux-header-bg-desktop-2x;
  }

  @media (max-width: $pre-desktop-width) {
    background-image: $aux-header-bg-tablet;
    background-size: 768px 344px;

    @media (min-resolution: 2dppx) {
      background-image: $aux-header-bg-tablet-2x;
    }
  }

  @media (max-width: $pre-tablet-width) {
    background-color: $lcg-1;
    background-image: $aux-header-bg-mobile;
    background-size: 320px 235px;

    @media (min-resolution: 2dppx) {
      background-image: $aux-header-bg-mobile-2x;
    }
  }
}

.main__container {
  @media (max-width: $pre-desktop-width) {
    place-items: center;
  }
}

.main__element {
  @media (min-width: $desktop-width) {
    grid-column-start: 8;
    grid-column-end: -1;
  }
}

.main__heading {
  font-weight: 600;
  color: $dcg-6;

  @media (min-width: $desktop-width) {
    font-size: 55px;
    line-height: 80px;
  }

  @media (max-width: $pre-desktop-width) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (max-width: $pre-tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }

  &--first-level {
    width: 412px;
    margin-top: 185px;
    color: inherit;

    @media (min-width: $desktop-width) {
      letter-spacing: -1.10667px;
    }

    @media (max-width: $pre-desktop-width) {
      margin-top: 60px;
    }

    @media (max-width: $pre-tablet-width) {
      margin-top: 81px;
    }
  }
}

.main__leading-paragraph {
  line-height: 27px;
  margin-top: 30px;
  width: 376px;

  @media (max-width: $pre-desktop-width) {
    margin-top: 15px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-top: 102px;
    color: $dcg-6;
  }
}

.main__view-tours {
  box-sizing: border-box;
  width: 340px;
  padding: 30px 39px 29px 40px;
  margin-top: 32px;
  margin-bottom: 297px;
  justify-content: space-between;

  @media (max-width: $pre-desktop-width) {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 83px;
    padding: 18px 39px 16px 40px;
  }

  @media (max-width: $pre-tablet-width) {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: $arrow-down;
  }
}

.main__unit {
  @media (max-width: $pre-desktop-width) {
    width: 398px;
    text-align: center;
  }

  @media (max-width: $pre-tablet-width) {
    width: 288px;
  }
}
