.next-travels {
  @media (min-width: $desktop-width) {
    padding-left: 13px;
  }
}

.next-travels__list {
  display: flex;
  flex-wrap: wrap;
}

.next-travels__item {
  &:nth-child(3n + 2) {
    @media (min-width: $desktop-width) {
      margin-left: 51px;
    }
  }

  &:nth-child(3n + 3) {
    @media (min-width: $desktop-width) {
      margin-left: 50px;
    }
  }
}

.next-travels__sublist {
  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.next-travels__subitem {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  &:not(:first-child) {
    @media (min-width: $desktop-width) {
      margin-top: 10px;
    }
  }
}
