.next-travels {
  @media (min-width: $desktop-width) {
    padding-left: 13px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-left: 0;
  }
}

.next-travels__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $pre-tablet-width) {
    justify-content: center;
  }
}

.next-travels__item {
  &:nth-child(3n + 2) {
    @media (min-width: $tablet-width) {
      margin-left: 51px;
    }

    @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
      margin-left: 45px;
    }
  }

  &:nth-child(3n + 3) {
    @media (min-width: $tablet-width) {
      margin-left: 50px;
    }
  }

  &:nth-child(2n + 1) {
    @media (max-width: $pre-tablet-width) {
      margin-right: 6.946%;
      box-sizing: border-box;
    }
  }

  &:nth-child(1) {
    @media (max-width: $pre-tablet-width) {
      padding-right: 19px;
    }
  }

  &:nth-child(3) {
    @media (max-width: $pre-tablet-width) {
      padding-left: 5px;
    }
  }

  @media (max-width: $pre-tablet-width) {
    width: 46.527%;
  }
}

.next-travels__sublist {
  margin-bottom: 20px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 26px;
  }

  @media (max-width: $pre-tablet-width) {
    @include column-flex;
    margin-bottom: 20px;
  }
}

.next-travels__subitem {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.next-travels__link {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: currentColor;
}
