.next-travels {
  @media (min-width: $desktop-width) {
    padding-left: 13px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-left: 21px;
  }
}

.next-travels__list {
  display: flex;
  flex-wrap: wrap;
}

.next-travels__item {
  &:nth-child(3n + 2) {
    margin-left: 51px;

    @media (max-width: $pre-desktop-width) {
      margin-left: 45px;
    }
  }

  &:nth-child(3n + 3) {
    margin-left: 50px;
  }
}

.next-travels__sublist {
  margin-bottom: 20px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 27px;
  }
}

.next-travels__subitem {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  &:not(:first-child) {
    margin-top: 10px;
  }
}
