.places-to-visit__container {
  & > * {
    @media (min-width: $desktop-width) {
      @include all-columns;
    }
  }

  @media (max-width: $pre-desktop-width) {
    @include column-flex;
  }
}

.places-to-visit__heading {
  @media (min-width: $desktop-width) {
    @include column-flex;
    width: 358px;
    margin-top: 199px;
  }

  @media (max-width: $pre-desktop-width) {
    width: 301px;
    margin-top: 80px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-top: 108px;
  }

  &::after {
    @media (min-width: $desktop-width) {
      width: 229px;
      height: 4px;
      margin-top: 29px;
    }
  }
}

.places-to-visit__admonition {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    width: 328px;
    margin-top: 31px;
  }

  @media (max-width: $pre-desktop-width) {
    width: 343px;
    margin-top: 20px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-top: 20px;
  }
}

.places-to-visit__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $desktop-width) {
    margin-top: 55px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-top: 21px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-top: 20px;
  }
}

.places-to-visit__item {
  @include centering-grid;

  @media (min-width: $desktop-width) {
    margin-bottom: 101px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 0;
    margin-top: 19px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-top: 0;
    margin-bottom: 35px;
  }

  &:nth-child(3n + 1) {
    @media (min-width: $desktop-width) {
      margin-right: 60px;
    }
  }

  &:nth-child(3n + 3) {
    @media (min-width: $desktop-width) {
      margin-left: 60px;
    }
  }

  &:nth-child(3n + 4) {
    @media (min-width: $desktop-width) {
      margin-right: 120px;
    }
  }

  &:nth-child(2n + 2) {
    @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
      margin-left: 30px;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
      margin-top: 30px;
    }
  }

  &::after {
    @include centering-grid;
    width: 215px;
    height: 61px;
    content: attr(data-country);
    background-color: $lcg-1;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    letter-spacing: -0.415px;
    pointer-events: none;

    @include one-track;
    align-self: end;
    z-index: 1;
  }

  &--greece {
    &::after {
      @media (min-width: $desktop-width) {
        height: 63px;
      }
    }
  }
}

.places-to-visit__link {
  @include one-track;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    display: none;
  }

  &::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dcg-8;
  }

  &::after {
    content: "смотреть подробнее";
    width: max-content;
    padding: 30px 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: $lcg-1;
    border: 1px solid $lcg-4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    letter-spacing: 2px;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      display: block;
    }
  }
}

.places-to-visit__country-view {
  @media (max-width: $pre-desktop-width) {
    width: 288px;
    height: 425px;
  }
}

.places-to-visit__element {
  @media (max-width: $pre-desktop-width) {
    text-align: center;
  }

  @media (max-width: $pre-tablet-width) {
    width: 100%;
  }
}

.places-to-visit__guide {
  @media (min-width: $desktop-width) {
    @include all-columns;
  }
}
