.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;

  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    min-width: 1920px;
  }

  @media (max-width: $pre-desktop-width) {
    min-width: $tablet-body-min-width;
  }

  @media (max-width: $pre-tablet-width) {
    min-width: $mobile-body-min-width;
  }
}

.zero-edges {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

.image {
  display: block;
}

.container {
  display: grid;
  grid-auto-rows: min-content;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 60.938%;
  }

  @media (max-width: $pre-desktop-width) {
    width: 100%;
  }
}
