body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    min-content
    1fr
    min-content;
  min-height: 100vh;
  max-width: $body-max-width;
  min-width: $body-min-width;
  background-color: $lcg-1;

  font-family:
    "Montserrat",
    "Arial",
    sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $dcg-2;
}

p,
h1,
h2,
h3,
h4,
ul,
ol,
blockquote,
cite {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
}

.link-states {
  &:hover,
  &:focus {
    color: $mcg-1;
  }

  &--phone {
    .phone__svg {
      color: currentColor;
    }
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  border: none;
  background-color: $mcg-1;
  color: $lcg-1;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include centering-flex;

  @media (max-width: $pre-desktop-width) {
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }
}

.container {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    min-width: $width-1;
  }

  &--pre-desktop {
    @media (max-width: $pre-desktop-width) {
      min-width: $width-2;
    }

    @media (max-width: $pre-tablet-width) {
      min-width: $width-3;
    }
  }
}

.letter-spacing-1 {
  letter-spacing: -0.466667px;
}

.letter-spacing-2 {
  @media (min-width: $desktop-width) {
    letter-spacing: -1.245px;
  }
}

.letter-spacing-3 {
  letter-spacing: -0.691667px;
}

.letter-spacing-4 {
  letter-spacing: -0.408333px;
}
