// column-flex
@mixin column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// centering-flex
@mixin centering-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// centering-grid
@mixin centering-grid {
  display: grid;
  place-items: center;
}

// all-columns
@mixin all-columns {
  grid-column-start: 1;
  grid-column-end: -1;
}

// one-track
@mixin one-track {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}
