// viewports (по ТЗ)
$desktop-width: 1024px;
$pre-desktop-width: 1023px;
$tablet-width: 768px;
$pre-tablet-width: 767px;
$mobile-width: 320px;

// body min-width (по макету)
$desktop-body-min-width: 1920px;
$tablet-body-min-width: $tablet-width;
$mobile-body-min-width: $mobile-width;

// darken color`s group ( dcg )
$dcg-1: #000000;
$dcg-2: #141517;
$dcg-3: #48494d;
$dcg-4: rgba(20, 21, 23, 0.5);
$dcg-5: #507da0;
$dcg-6: #2c2e3f;
$dcg-7: rgba(44, 46, 63, 0.7);
$dcg-8: rgba(20, 21, 23, 0.6);

// middle color`s group ( mcg )
$mcg-1: #fe7865;

// lighten color`s group ( lcg )
$lcg-1: #ffffff;
$lcg-2: #fbf8f8;
$lcg-3: #d7d9df;
$lcg-4: rgba(255, 255, 255, 0.7);

// bg
$right-arrow: url("../img/decor/right-arrow.svg");
$arrow-down: url("../img/decor/arrow-down.svg");
$mail: url("../img/decor/mail.svg");
$line-in-footer: url("../img/decor/line-in-footer.svg");
$big-line-in-footer: url("../img/decor/big-line-in-footer.svg");
$directions-underline: url("../img/decor/directions-underline.svg");

// aux-header-bg
$aux-header-bg-desktop: url("../img/bg/aux-header-bg-desktop.jpg");
$aux-header-bg-desktop-2x: url("../img/bg/aux-header-bg-desktop@2x.jpg");
$aux-header-bg-tablet: url("../img/bg/aux-header-bg-tablet.jpg");
$aux-header-bg-tablet-2x: url("../img/bg/aux-header-bg-tablet@2x.jpg");
$aux-header-bg-mobile: url("../img/bg/aux-header-bg-mobile.jpg");
$aux-header-bg-mobile-2x: url("../img/bg/aux-header-bg-mobile@2x.jpg");

// guide (greece) bg
$greece-guide-bg-desktop: url("../img/bg/greece-guide-bg-desktop.png");
$greece-guide-bg-desktop-2x: url("../img/bg/greece-guide-bg-desktop@2x.png");
$greece-guide-bg-tablet: url("../img/bg/greece-guide-bg-tablet.png");
$greece-guide-bg-tablet-2x: url("../img/bg/greece-guide-bg-tablet@2x.png");
$greece-guide-bg-mobile: url("../img/bg/greece-guide-bg-mobile.png");
$greece-guide-bg-mobile-2x: url("../img/bg/greece-guide-bg-mobile@2x.png");
