// viewports (по ТЗ)
$desktop-width: 1024px;
$pre-desktop-width: 1023px;
$tablet-width: 768px;
$pre-tablet-width: 767px;
$mobile-width: 320px;

// body min-width (по макету)
$desktop-body-min-width: 1920px;
$tablet-body-min-width: $tablet-width;
$mobile-body-min-width: $mobile-width;

// darken color`s group ( dcg )

// middle color`s group ( mcg )

// lighten color`s group ( lcg )

// bg
