// viewports (по ТЗ)
$desktop-width: 1024px;
$pre-desktop-width: 1023px;
$tablet-width: 768px;
$pre-tablet-width: 767px;
$mobile-width: 320px;

// body min-width (по макету)
$desktop-body-min-width: 1920px;
$tablet-body-min-width: $tablet-width;
$mobile-body-min-width: $mobile-width;

// darken color`s group ( dcg )
$dcg-1: #000000;
$dcg-2: #141517;
$dcg-3: #48494d;
$dcg-3: rgba(20, 21, 23, 0.5);

// middle color`s group ( mcg )
$mcg-1: #fe7865;

// lighten color`s group ( lcg )
$lcg-1: #ffffff;
$lcg-2: #fbf8f8;

// bg
$right-arrow: url("../img/decor/right-arrow.svg");
$mail: url("../img/decor/mail.svg");
