// viewports
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
$mobile-width-only: 767px;

// darken color`s group ( dcg )

// middle color`s group ( mcg )

// lighten color`s group ( lcg )

// bg
