@import "~normalize.css/normalize";
@import "./base/fonts.scss";
@import "./base/vars.scss";
@import "./base/mixins.scss";
@import "./base/base.scss";

// header
@import "./blocks/header.scss";

// nav
@import "./blocks/nav.scss";

// phone
@import "./blocks/phone.scss";

// footer
@import "./blocks/footer.scss";

// next-travels
@import "./blocks/next-travels.scss";

// contacts
@import "./blocks/contacts.scss";

// main
@import "./blocks/main.scss";

// places-to-visit
@import "./blocks/places-to-visit.scss";

// hidden entities
@import "./base/hidden-entities.scss";
